# Default ignored files
.idea/shelf/
/.idea/workspace.xml

.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
.idea/shelf/
*.iml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

key.json
test.json
openai_key.json
.env

src/main/resources/org/example/foodrecipeplatform/key.json